@model IEnumerable<Project.Models.Book>

@{
		ViewData["Title"] = "Home Page";
}

<section class="static about-sec">
	<div class="container">
		<h2>Books</h2>
		<div class="recent-book-sec">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-md-3">
						<div class="item">

							@{
								var src=Html.DisplayFor(modelItem => item.Cover);
								}
								
								<a class="nav-link text-dark" asp-action="BookInfo" asp-route-id="@item.ISBN">
									<img src="~/images/Covers/@src"/>
									<h3>@Html.DisplayFor(modelItem => item.Title)</h3>
									<h6><span class="price">@Html.DisplayFor(modelItem=> item.Price)</span></h6>
								</a>
								
							</div>
						</div>
				}
			</div>
			<div class="btn-sec">
				<a href="products.html" class="btn gray-btn">load More books</a>
			</div>
		</div>
	</div>
</section>
