@model Project.Models.LoginViewData
@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="login_part section_padding ">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6">
				<div class="login_part_text text-center">
					<div class="login_part_text_iner">
						<h2>Нов потербител?</h2>
						<p>Влезнетее в системата за да можете да поръчвате книги</p>
						<a asp-area="" asp-controller="Customer" asp-action="Create" class="btn_3">Създай потербител</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="login_part_form">
					<div class="login_part_form_iner">
						<h3>Добре дошли! <br>
							Влезнете сега</h3>
						<form class="row contact_form" action="#" method="post" novalidate="novalidate">
							<div class="col-md-12 form-group p_star">
								<input asp-for="Email" type="text" class="form-control" id="email" name="email" value="" placeholder="Имейл">
							</div>
							<div class="col-md-12 form-group p_star">
								<input asp-for="Password" type="password" class="form-control" id="password" name="password" value="" placeholder="Парола">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account d-flex align-items-center">
									<input asp-for="RememberMe" type="checkbox" id="f-option" name="selector">
									<label asp-for="RememberMe" for="f-option">Запомни ме</label>
								</div>
								<button type="submit" value="submit" class="btn_3">Влизане</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
		</section>

